<link rel="stylesheet" href="{{ url_for('static', filename='change_password.css') }}">
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <div style="color: red;
        font-weight: bold;">
            {{ messages[0] }}
        </div>
    {% endif %}
{% endwith %}

<form method="post" style="display: flex;
flex-direction: column;
align-items: center;">
    <label for="old_password" class="form-label">Old Password:</label><br>
    <input type="password" id="old_password" name="old_password" required class="form-input" style="border: 1px solid #ddd;"><br>
    <label for="new_password" class="form-label">New Password:</label><br>
    <input type="password" id="new_password" name="new_password" required class="form-input" style="border: 1px solid #ddd;"><br>
    <input type="submit" value="Change Password" class="submit-button password-change-submit">
</form>
<br>
{% if user.is_admin %}
    <a href="{{ url_for('admin_review') }}" class="btn admin-review-link">Go to Admin Review</a>
{% else %}
    <a href="{{ url_for('dashboard') }}" class="btn dashboard-link">Go to Dashboard</a>
{% endif %}