<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title> Register </title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">              
</head>
<body style="background-color: #f0f0f0;">
    <div class="center-div">
      <div style="border: 1px solid black; padding: 10px;">
         <div style="text-align: center;">
            <h1 style="font-size: 2em; color: #333;">Register</h1>
         </div>
        <h2 class="word form-heading">
            <form action="{{ url_for('register') }}" method="post" class="register-form">
              <div class="msg">{{ msg }}</div>
                <input id="username" name="username" type="text" placeholder="Enter Your Username" class="textbox username"/>
                <input id="id" name="id" type="text" placeholder="Enter Your Employee ID" class="textbox employee-id"/>
                <input id="password" name="password" type="password" placeholder="Enter Your Password" class="textbox password"/>
                <input id="email" name="email" type="text" placeholder="Enter Your Email ID" class="textbox email"/>
                <input type="submit" class="btn submit-btn" value="Sign Up">
            </form>
        </h2>
        <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
      </div>
    </div>
</body>
</html>