.center-div {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.form-heading {
    font-size: 1.5em;
    color: #666;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textbox {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 0.9em;
}

.username, .employee-id, .password, .email {
    border: 1px solid #ddd;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.bottom {
    color: #333;
    text-decoration: none;
}